
table {
  width 100%
  font-size 14px
  th:nth-of-type(1) {
    width: 15%;
  }
  th:nth-of-type(3) {
    width: 15%;
  }
  td {
    text-align left!important
    padding 1em
    border-right none
    border-left none
  }
  th {
    min-width 5em
    text-align left!important
    padding 1em
    border-right none
    border-left none
  }
  tr:nth-child(2n) {
    background-color: transparent;
  }
}
