@main-theme-color: #2DD39C;
@main-hover-color: #4DE9B7;
@main-active-color: #4DC19C;
@black: #000;
@white: #fff;
@gray-1: #f7f8fa;
@gray-2: #f2f3f5;
@gray-3: #ebedf0;
@gray-4: #dcdee0;
@gray-5: #c8c9cc;
@gray-6: #969799;
@gray-7: #646566;
@gray-8: #323233;
@active-color: @gray-2;
@color: #333;
@text-color: @gray-8;
@red: #f56556;
@item-height-regular: 32px;
@border: 1px solid #eee;
// Font
@font-size-xs: 10px;
@font-size-xs11: 11px;
@font-size-sm: 12px;
@font-size-sm13: 13px;
@font-size-md: 14px;
@font-size-md15: 15px;
@font-size-lg: 16px;
@font-size-lg17: 17px;
@font-weight-bold: 500;
@line-height-xs: 14px;
@line-height-sm: 18px;
@line-height-md: 20px;
@line-height-lg: 22px;

// button
@button-bg: @main-theme-color;
@button-active-bg: @main-active-color;
@button-hover-bg: @main-hover-color;
@border-radius: 4px;
@border-color: @gray-3;

// input
@input-border: 1px solid @gray-4;
@input-text-color: @gray-7;
@input-hover-border: 1px solid @gray-5;
@input-focus: inset 0 1px 4px 0 @gray-3;
