[class^="xx-"], [class*=" xx-"] {
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica,
  "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB",
  "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN",
  "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti",
  SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  outline: none;
  ul,
  ol {
    list-style: none;
  }
}
@main-theme-color: #87dfd6;
@main-hover-color: lighten(@main-theme-color, 8%);
@main-active-color: darken(@main-theme-color, 10%);
@main-color-light: lighten(@main-theme-color, 25%);

@black: #000;
@white: #fff;
@gray-1: #f7f8fa;
@gray-2: #f2f3f5;
@gray-3: #ebedf0;
@gray-4: #dcdee0;
@gray-5: #c8c9cc;
@gray-6: #969799;
@gray-7: #646566;
@gray-8: #323233;
@active-color: @gray-2;
@color: #333;
@text-color: @gray-8;
@icon-color-light: @gray-5;
@icon-color-dark: @gray-6;
@error: #FC7365;
@error-hover: lighten(@error, 8%);
@error-active: darken(@error, 8%);
@success: #4ecca3;
@success-hover: lighten(@success, 8%);
@success-active: darken(@success, 8%);
@warning: #FCC98B;
@warning-hover: lighten(@warning, 8%);
@warning-active: darken(@warning, 8%);
@info: #C5D4EA;
@info-hover: lighten(@info, 5%);
@info-active: darken(@info, 8%);
@item-height-regular: 32px;
// Font
@font-size-xs: 10px;
@font-size-xs11: 11px;
@font-size-sm: 12px;
@font-size-sm13: 13px;
@font-size-md: 14px;
@font-size-md15: 15px;
@font-size-lg: 16px;
@font-size-lg17: 17px;
@font-weight-bold: 500;
@line-height-xs: 14px;
@line-height-sm: 18px;
@line-height-md: 20px;
@line-height-lg: 22px;

//border
@main-border: 1px solid @gray-2;
@light-border: 1px solid @gray-1;
@border-color-main: @gray-2;
@border-color-light: @gray-1;

//border-radius
@border-radius: 4px;

//padding
@padding-base: 4px;
@padding-sm: 8px;
@padding-xs: 12px;
@padding-md: 16px;
@padding-lg: 20px;

// button
@button-bg: @main-theme-color;
@button-active-bg: @main-active-color;
@button-hover-bg: @main-hover-color;
@border-color: @gray-3;

// input
@input-border: 1px solid @gray-4;
@input-text-color: @gray-7;
@input-hover-border: 1px solid @gray-5;
@input-focus: inset 0 1px 4px 0 rgba(232, 237, 250, .6);

//toast
@toast-bg: rgba(0, 0, 0, .75);
@toast-height: 40px;
@toast-border-radius: @border-radius;
@toast-color: @white;
@toast-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);

//tabs
@tabs-margin-num: @padding-xs;
@tab-bar-narrow: 2px;
@tab-bar-wide: 40px;
@tab-bar-duration: .5s;

//popover
@popover-shadow: 0 2px 8px rgba(0,0,0,.05);

// cascader
@cascader-trigger-height: @item-height-regular;
@cascader-popover-min-width: 70px;
@cascader-active-color: @main-theme-color;

// animate
@animate-duration-regular: 250ms;
@keyframes slide-up {
  0% {opacity: 0; transform: translateY(100%);}
  100% {opacity: 1;transform: translateY(0%);}
}
@keyframes slide-down {
  0% {opacity: 0; transform: translateY(-100%);}
  100% {opacity: 1;transform: translateY(0%);}
}
@keyframes fade-in {
  0% {opacity: 0; }
  100% {opacity: 1;}
}
@keyframes fade-out {
  0% {opacity: 1; }
  100% {opacity: 0;}
}
@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}


// overlay
@overlay-background: fade_out(black, 0.6);
.xx-common-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: @overlay-background;
  z-index: 1005;
}


.icon-error, .error-message {
  fill: currentColor !important;
  color: @error;
  vertical-align: middle;
}

.flex-box {
  display: flex;
  align-items: center;
}

.xx-loading {
  animation: spin 2s infinite linear;
}
.xx-scrollbar {
   &::-webkit-scrollbar {
     width: 6px;
     background: transparent;
   }
   &::-webkit-scrollbar-thumb {
     background: transparent;
     border-radius: 4px;
   }

   &:hover::-webkit-scrollbar-thumb {
     @media (any-hover: hover) {
       background: hsla(0, 0%, 40%, 0.3);
     }
   }

   &:hover::-webkit-scrollbar-track {
     @media (any-hover: hover) {
       background: hsla(0, 0%, 53%, 0.1);
     }
   }
 }
